*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-Light.ttf') format('truetype'),;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-Regular.ttf') format("truetype"),'),
         url('../fonts/raleway-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-Bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Raleway', sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    width: 1100px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
