*,h1,h2,h3,h4,h5,h6,p,
ul,
ol,
li,blockquote{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}



body {
    font-family: 'Raleway', sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    width: 1100px;
    margin: 0 auto;
    font-weight: normal;

}

a {
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

button {
  font: inherit;
}
